.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.upload-form-wrapper {
  padding-block: 100px;
}

.upload-form-wrapper form {
  padding: 100px;
  background: #ecf0f1;
  border-radius: 10px;
}